{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
    <h1>Register</h1>
</div>
<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <label> {{form.username.label}}</label>
        {{form.username}}
        <label> {{form.password1.label}}</label>
        {{form.password1}}
        <label> {{form.password2.label}}</label>
        {{form.password2}}
        <input class="button" style="width: 100%; font-size: 18px; margin-top: 20px;" type="submit" value="Register">
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login Now</a></p>
</div>
{% endblock content %}